body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    align-items: center;
}

#logo {
     width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#titolo {
    margin-left: auto;
    margin-right: 2%;
}

#linkHome
{
    width: 15%;
}

.spacer {
    flex-grow: 1;
}