body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerPost {
    display: flex;
    align-items: center;
}

.dataPost {
    font-size: 105%;
    color: #888;
    margin-left: 1%;
}

.titoloPost {
    color: #333;
    font-size: 200%;
    margin-left: 2%;
}

.descrizionePost {
    color: #666;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    font-size: 110%;
}

.fotoPost {
    width: 30%;
    border-radius: 8px;
    align-self: flex-end;
    margin: 2%;
    margin-left: auto;
}

.post:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}


.bodyPost
{
    display: flex;
}

.linkPost
{
    text-decoration: none;
    color: white;
}

#btnLoginRow
{
    display: flex;
}

#btnLogin
{
    color: white;
    font-size: 130%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150%;
    height: 70%;
    transition: background-color 0.3s;
}

#btnLogin:hover {
    background-color: #0056b3;
}

#testoBenvenuto
{
    margin-left: 3%;
    font-size: 180%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#linkLogin
{
    margin-left: auto;
    margin-right: 5%;
}

#btnNuovoPost
{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 95%;
    height: 15%;
    margin-left: 3%;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 150%;
    border-radius: 10px;
    transition: background-color 0.3s;
}

#btnNuovoPost:hover {
    background-color: #0056b3;
}

#testoPresentazione
{
    margin-left: 3%;
}

.btnModificaElimina
{
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    margin: 1%;
    transition: background-color 0.3s;
    max-width: 95%;
    height: 95%;
}

.btnModificaElimina:hover
{
    background-color: #0056b3;
}

#rigaCerca {
    display: flex;
    align-items: center;
    justify-content: center;
}

#testoRicerca
{
    margin-right: 1%;
}

#bloccoInserisciTestoCerca {
    margin-right: 1%;
    padding: 0.8%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    box-sizing: border-box;
}

#btnCerca {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnCerca:hover {
    background-color: #0056b3;
}

#noPost {
    text-align: center;
    font-size: 250%;
    margin: auto 0;
    margin-top: 10%;
    margin-bottom: 10%;
}

#rigaFiltroData {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#rigaFiltroData button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1% 2%;
    margin: 0 1%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 102%;
    transition: background-color 0.3s;
}

#rigaFiltroData button:hover {
    background-color: #0056b3;
}

#annoAttuale {
    font-size: 120%;
    margin: 0 1%;
}

#risultatiPerTesto
{
    margin-left: 2%;
}

.imgDescrContainer
{
    display: flex;
}