body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    margin-inline: 40%;
    position: relative;
    top: 50;
    text-align: center;
    border-radius: 10px;
}

#testoGuida {
    display: block;
    font-size: 150%;
    margin-bottom: 10%;
    color: #000;
}

#username,
#password {
    width: 100%;
    padding: 6%;
    margin-bottom: 10%;
    border: 1px solid #000;
    border-radius: 5px;
}

#submit {
    padding: 5% 10%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #0056b3; 
}
